<?xml version="1.0"?>
<launch>
    <!--Create1 Launch-->
    <arg name="config" default="$(find create_bringup)/config/default.yaml" />
    <arg name="desc" default="true" />

    <node name="create_driver" pkg="create_driver" type="create_driver" output="screen">
        <rosparam command="load" file="$(arg config)" />
        <param name="robot_model" value="CREATE_1" />
    </node>
    
    <node name="actionTranslator" pkg="mail_delivery_robot" type="actionTranslator.py"/>
    <node name="IRSensor" pkg="mail_delivery_robot" type="IRDistanceCalc.py"/>
    <!-- <node name="bumperBoy" pkg="mail_delivery_robot" type="bumperSensor.py"/> -->

    <node name="robotDriver" pkg="mail_delivery_robot" type="robotDriver.py"/>
    <node name="handleCollision" pkg="mail_delivery_robot" type="handleCollision.py"/>

    <node name="updateStatus" pkg="mail_delivery_robot" type="updateStatus.py"/>
    <node name="receiveRequest" pkg="mail_delivery_robot" type="receiveRequest.py"/>

    <node name="plotNavigation" pkg="mail_delivery_robot" type="plotNavigation.py"/>
    <node name="captain" pkg="mail_delivery_robot" type="captain.py"/>



  <!-- Robot description -->
  <include if="$(arg desc)" file="$(find create_description)/launch/create_1.launch" />
</launch>